body{
    text-decoration: none;
}
.div_1{
   display: flex; 
    align-items: center;   
    justify-content: center;
}
.lists{
    display: flex;
    width: 52vw;
    justify-content: right;
    text-decoration: none;
    /* margin-left: 5vw; */
}
li{
    margin-left: 4vw;
    text-decoration: none;
    list-style: none;
    color: black;
}
li:hover{
    text-decoration: none;

}
li:focus{
    text-decoration: none;
}
.signin{
    height: 8vh !important;
    width: 10vw !important;
    color: black !important;
    width: 8vw !important;
    margin-left: 10vw !important;
}
.get_started{
        background-color: rgb(79, 79, 228) !important;
        color: white !important;
        font-weight: bold !important;
        height: 8vh !important;
        width: 10vw !important;
        border-radius: 1rem !important;
        margin-left: .5vw !important;
}
.container{
    border: 2px solid white;
    width: 32vw;
    margin-left: 10vw;
    margin-top: 10vh;
}
.content{
    border: 1px solid white;
    width: 32vw;
    font-size: xx-large;
    font-weight: bold;
}
.content_2{
    font-size: x-large;
}
.getstarted2{
    background-color: rgb(79, 79, 228) !important;
    color: white !important;
    font-weight: bold !important;
    height: 8vh !important;
    width: 12vw !important;
    border-radius: 1rem !important; 
}
img{
    margin-top: 1vw;
    width: 40vw;
    height: 60vh;
    margin-left: 8vw;
    background-color: white;
    animation-name: images;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse ;
}
.div_2{
    display: flex;
}
.pis{
    margin-left: 18vw;
}
.div_3{
    display: flex;
    margin-top: 4vh;
}
h4{
    margin-bottom: -10px;
}
@keyframes images{
    from {margin-left: 8vw;}
    to {margin-left: 12vw;}
}
a{
    text-decoration: none;
}
